.category{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    overflow-x : auto;
  
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }
}
.logo {
  width: 150px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }

  @media (max-width: 992px) { 
    width: 150px;
    height: 40px;
  }

  @media (max-width: 768px) {
    width: 140px;
    height: 40px;
  }

  @media (max-width: 576px) { 
    width: 120px;
    height: 40px;
  }
  @media (max-width: 390px) { 
    width: 100px;
    height: 40px;
  }
}


.link-area{
    width: 100px;
    height: 100%;
}
.showdiv{
    display: flex;
    justify-content: flex-end;
    width: 50px;
    height: 100vh;
    background-color: #13264E;
    cursor: pointer;
    
   
}
.offcanvas_box{
    background-color: #1F232D;
}
.adminPage_logo{
    
        width: 300px;
        height: 200px;
        object-fit:contain;
    
}
.admin_menu{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    height: 50%;
    background-color: #0e1d3c;
    border: 1px solid white;
}

.footer {
    margin-top: 200px;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 12px;
    color: #666;
  }
  
  .footer-links {
    margin-bottom: 5px;
  }
  
  .footer-links a {
    color: #666;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-text {
    margin: 5px 0;
  }
  
  .footer-copyright {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .naver-logo {
    color: #03c75a;
    font-weight: bold;
  }
  /* iOS 자동 링크 스타일 무력화 */
a[href^="tel"],
a[href^="mailto"],
a[href^="sms"],
a[href^="http"],
a[data-dt-element] {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: inherit !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
