.p_bottom_bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky ;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 0 10px ;
}
.bar_order{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
    height: 48px;
    background-color: #03C75A;
    border-radius: 7px;
}
.flex_box{
    display: flex;
    width: 500px;
    justify-content: space-around;
}