.Navbar_box{
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* 임시 */
    border-bottom: 1px solid rgba(128, 128, 128, 0.658); 
}